*{
    margin: 0px;
    padding:0px;
}
body{
background-color: lightgrey;
}
header{
    text-align: center;
    margin: 10px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:wheat;
    color:whitesmoke
}
nav{
    background-color: aquamarine;
margin: 10px;

}
nav ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    overflow: none;
list-style-type: none;
}
nav ul li{
    margin: 10px;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    background-color: azure;
    color: black;
}
section{
font-family: 'Times New Roman', Times, serif;
font-size: x-large;
background-color: antiquewhite;
padding:10px ;
color: blueviolet;
}
footer{

    position:relative;
    bottom: 0px;
    text-align: center;
     width: 100%; 
    background-color: blue;
}